* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.result {
    color: #333;
}

.result-text {
    font-size: 64px;
    margin-bottom: 40px;
}

.clear-time-text {
    font-size: 32px;
}

.time {
    font-size: 40px;
}

.post-btn {
    width: 180px;
    height: 60px;
    border-radius: 10px;
    background-color: lightgreen;
    color: white;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.post-btn:hover {
    background-color: rgb(121, 202, 121);
}

.back-btn {
    display: block;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    background-color: lightpink;
    color: white;
    font-size: 24px;
    margin-top: 40px;
}

.back-btn:hover {
    background-color: rgb(215, 154, 163);
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
}

td,
th {
    border: 1px solid black;
    padding: 20px 60px;
}

th {
    background-color: rgb(195, 222, 231);
}
/* 
tr:nth-of-type(2n+1)>td {
    background-color: #ecd595;
} */